<footer>
  <div class="footer">
    <div class="footer-item">
      <h5>Support</h5>
      <hr style="width: 70%" />
      <a href="#">Help Centre</a>
      <a href="#">AirCover</a>
      <a href="#">Anti-discrimination</a>
      <a href="#">Disability support</a>
      <a href="#">Concern</a>
      <a href="#">Cancellation option</a>
      <a href="#">Report neighbourhood </a>
    </div>
    <div class="footer-item">
      <h5>Hosting</h5>
      <hr style="width: 70%" />
      <a href="#">GoBuddy your home</a>
      <a href="#">AirCover for Hosts</a>
      <a href="#">Hosting resources</a>
      <a href="#">Community forum</a>
      <a href="#">Hosting responsibly</a>
    </div>
    <div class="footer-item" id="third-fr">
      <h5>GoBuddy</h5>
      <hr style="width: 70%" />
      <a href="#">Newsroom</a>
      <a href="#">New features</a>
      <a href="#">Careers</a>
      <a href="#">Investors</a>
      <a href="#">GoBuddy.org emergency</a>
    </div>
  </div>
  <div class="scrollup">
    <!-- <button>Back to top</button> -->
    <button onclick="scrollToTop()" class="topfun">
      <i class="fa-solid fa-arrow-up"></i>
    </button>
  </div>
 
  
  <div class="f-info">
    <div class="f-info-socials">
      <i class="fa-brands fa-facebook" style="color: var(--brand-primary)"></i>
      <img src="/images/insta-logo.png" id="instagram">
      <i class="fa-brands fa-x-twitter" style="color: var(--text-secondary)"></i>
      <i class="fa-brands fa-pinterest" style="color: var(--brand-accent)"></i>
    </div>
    <div class="f-info-brand">&copy; 2025 GoBuddy Private Limited, Inc.</div>
    <div class="f-info-links">
      <a
        href="
            /privacy"
        >Privacy</a
      >
      <a href="/terms">Terms</a>
      <a href="/sitemap">Sitemap</a>
      <a href="/companydetails">Company details</a>
    </div>
  </div>
  <!-- <hr> -->
  <!-- Made by MD Affan Asghar -->
  <div style="margin-bottom: 40px"></div>
</footer>

<script>
  function scrollToTop() {
    // Scroll to the top of the page
    window.scrollTo({
      top: 0,
      behavior: "smooth", // Optional: adds smooth scrolling animation
    });
  }
</script>
